@import "tailwindcss";

html,
body {
  height: 100%;
}


.pwa-install-prompt {
  display: none;
}

@media (max-width: 768px) {
  .pwa-install-prompt.show {
    display: flex;
  }
}

/* Global Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #dcfce7;
  /* green-100 */
}

::-webkit-scrollbar-thumb {
  background: #166534;
  /* green-800 */
  border-radius: 5px;
  border: 2px solid #dcfce7;
  /* padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #14532d;
  /* green-900 */
}

/* Ensure body doesn't double scroll */
html,
body {
  height: 100%;
  /* overflow: hidden; Removed to fix global scroll sticking */
}